.container {
    border-top: 1px solid black;
    width: 80vw;
    min-width: 900px;
    max-width: 1500px;
    padding-top: 15px;
    margin-bottom: 60px;
}

.sectionNumber {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(177, 177, 177);
}

.subSectionTitle {
    padding-left: 100px;
    margin: 0px;
}

.subSectionContentsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.subSectionSticky {
    position: sticky;
    top: 0;
}

.subSectionMain {
    width: 60vw;
}

.reservationTitle {
    margin: 0;
}

.reservationTitle:hover {
    cursor: pointer;
}

.reservationIndividualContainer {
    margin-bottom: 50px;
}

.reservationDetails {
    padding-left: 20px;
}
